html,
body,
#root,
.layout-basic-demo {
    height: 100%;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.mircrosim-app {
    display: "flex";
    flex-direction: "row";
    margin: 12px;
    padding: 12px;
}